<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Petstore API Suite">

    <listeners>
        <listener class-name="api.utilities.ExtentReportManager" />
    </listeners>
    
    <test name="Petstore API Tests">

        <classes>

            <class name="api.testCases.TS01_UserTests" />
<!--            <class name="api.testCases.TS01_UserTestsDataDrivenTests" />-->

        </classes> 
    </test>

</suite>
