<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">

    <Properties>

        <!-- Log Folder -->
        <Property name="basePath">./Logs</Property>

        <!-- Timestamp -->
        <Property name="logFileName">
            automation-${date:yyyy-MM-dd-HH-mm-ss}
        </Property>

    </Properties>

    <Appenders>

        <!-- Console Logging -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!-- Separate Log File Per Execution -->
        <RollingFile
                name="File"
                fileName="${basePath}/${logFileName}.log"
                filePattern="${basePath}/${logFileName}-%i.log.gz">

            <PatternLayout
                    pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>

            <!-- Rotate after 50 MB -->
            <Policies>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>

            <!-- Keep 10 backup files -->
            <DefaultRolloverStrategy max="10"/>

        </RollingFile>

    </Appenders>

    <Loggers>

        <Root level="info">
<!--            <AppenderRef ref="Console"/>-->
            <AppenderRef ref="File"/>
        </Root>

    </Loggers>

</Configuration>